@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LoginViewModel
<div class="col-lg-6">
    <div class="login-container">
        <h2>Giriş yap</h2>
        <br />
        <br />
        <form class="login-form " asp-action="Index" method="post">

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="E-mail" name="email">
                <label for="floatingInput">Email address</label>
            </div>
            <br />
            <div class="form-floating">

                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </div>
</div>